tests.dtd

<!ELEMENT tests (test*)>

<!ELEMENT test (scenario*)>
<!ATTLIST test title CDATA #REQUIRED>

<!ELEMENT scenario (property*)>
<!ATTLIST scenario id CDATA #REQUIRED>
<!ATTLIST scenario type CDATA #REQUIRED>
<!ATTLIST scenario title CDATA #REQUIRED>

<!ELEMENT property (item*)>
<!ATTLIST property name CDATA #REQUIRED>
<!ATTLIST property value CDATA #IMPLIED>

<!ELEMENT item EMPTY>
<!ATTLIST item key CDATA #IMPLIED>
<!ATTLIST item value CDATA #IMPLIED>
